body{
    background-color: #000000;
}
@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}
.font { font: 2300% digital;
    text-align: center;
    color: #00d0ff;
}
#day,#date2 { font: 1000% digital;
    text-align: center;

    color: #00d0ff;
}

table{
    margin-top: 10%;
}